// Colors
@use "sass:map";

$themes: (
  dark-blue: (
    //Background
    main-background: hsl(222, 26%, 31%),
    toggle-and-keypad-background: hsl(223, 31%, 20%),
    screen-background: hsl(224, 36%, 15%),
    // Keys
    key-background-del-and-reset: hsl(225, 21%, 49%),
    key-shadow-del-and-reset: hsl(224, 28%, 35%),
    key-background-equal-and-toggle: hsl(6, 63%, 50%),
    key-shadow-toggle-equal: hsl(6, 70%, 34%),
    key-background-common: hsl(30, 25%, 89%),
    key-shadow-common: hsl(28, 16%, 65%),
    // Text
    text-color-common-primary: hsl(0, 0%, 100%),
    text-color-common-key: hsl(221, 14%, 31%),
    text-color-secondary: hsl(0, 0%, 100%),
    text-color-equal: hsl(0, 0%, 100%),
  ),
  light-gray: (
    //Background
    main-background: hsl(0, 0%, 90%),
    toggle-and-keypad-background: hsl(0, 5%, 81%),
    screen-background: hsl(0, 0%, 93%),
    // Keys
    key-background-del-and-reset: hsl(185, 42%, 37%),
    key-shadow-del-and-reset: hsl(185, 58%, 25%),
    key-background-equal-and-toggle: hsl(25, 98%, 40%),
    key-shadow-toggle-equal: hsl(25, 99%, 27%),
    key-background-common: hsl(45, 7%, 89%),
    key-shadow-common: hsl(35, 11%, 61%),
    // Text
    text-color-common-primary: hsl(60, 10%, 19%),
    text-color-common-key: hsl(60, 10%, 19%),
    text-color-secondary: hsl(0, 0%, 100%),
    text-color-equal: hsl(0, 0%, 100%),
  ),
  dark-violet: (
    //Background
    main-background: hsl(268, 75%, 9%),
    toggle-and-keypad-background: hsl(268, 71%, 12%),
    screen-background: hsl(268, 71%, 12%),
    // Keys
    key-background-del-and-reset: hsl(281, 89%, 26%),
    key-shadow-del-and-reset: hsl(285, 91%, 52%),
    key-background-equal-and-toggle: hsl(176, 100%, 44%),
    key-shadow-toggle-equal: hsl(177, 92%, 70%),
    key-background-common: hsl(268, 47%, 21%),
    key-shadow-common: hsl(290, 70%, 36%),
    // Text
    text-color-common-primary: hsl(52, 100%, 62%),
    text-color-common-key: hsl(52, 100%, 62%),
    text-color-secondary: hsl(0, 0%, 100%),
    text-color-equal: hsl(198, 20%, 13%),
  ),
);

@each $theme-name, $color-set in $themes {
  [data-theme="#{$theme-name}"] {
    @each $color-name, $color in $color-set {
      --#{$color-name}: #{$color};
    }
  }
}
